.interactiveMap {
	height: 100vh;
	display: flex;
	justify-content: center;
	padding: 2.083vw 0;
	background-color: #fefaf6;
	.container {
		width: 90%;
		.titleContainer {
			.subtitleContainer {
				margin-top: 1.389vw;
				.subtitle {
					color: #000;
					font-family: var(--font-manrope);
					font-size: 1.806vw;
					font-style: normal;
					font-weight: 400;
					line-height: 2.083vw;
					span {
						font-family: var(--font-manrope);
						font-size: 1.852vw;
						font-style: normal;
						font-weight: 400;
						line-height: 100%;
						background: linear-gradient(
							45deg,
							#f05801 50%,
							#4f0fff 78.48%
						);
						background-clip: text;
						color: transparent;
					}
				}
			}
		}
	}
}
