.menuMobile{
    padding-top: 10vh ;
    width: 90%;
    height: 100%;
}
.menuList{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    font-size: 8.5vw;
    font-family: var(--font-manrope);
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 40.8px */
    letter-spacing: -1.7px;
}
.subMenuList{
    margin-top: 5vh;
    font-family: var(--font-manrope);
    color: #6F6F6F;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}