@import '@/styles/breakpoints.module';

.container {
	width: 100%;
	height: 5vh;

	.gradient1 {
		background: linear-gradient(
			180deg,
			rgba(254, 250, 246, 1) 55%,
			rgba(255, 255, 255, 1) 100%
		);
	}

	.gradient2 {
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 55%,
			rgba(254, 250, 246, 1) 100%
		);
	}

	.merging2gradientsContainer {
		position: relative;

		.gradientLeft {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(
				183deg,
				rgba(254, 250, 246, 1) 72%,
				rgba(79, 15, 255, 0.29705889191614148) 100%
			);
			width: 100%;
			z-index: 1;
		}

		.gradientRight {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(
				177deg,
				rgba(254, 250, 246, 1) 72%,
				rgba(255, 153, 95, 0.49425777146796221) 100%
			);
			width: 100%;
			z-index: 2;
			opacity: 0.6;
		}

		.borderRound {
			border-radius: 20px 20px 0 0;
			position: absolute;
			height: 10%;
			bottom: 0;
			left: 0;
			background-color: white;
			width: 99.7%;
			margin-left: 0.2%;
			margin-right: 0.2%;
			z-index: 3;
		}
	}
}

@include tabletS {
	.container {
		height: 15vh;

		.gradient1 {
		}

		.gradient2 {
		}

		.merging2gradientsContainer {
			.gradientLeft {
			}

			.gradientRight {
			}

			.borderRound {
			}
		}
	}
}
