.header {
    display: block;
    justify-content: center;
    height: 8vh;
    position: absolute;
    top: 0;
    width: 100%;
}
.headerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
