@use '@/styles/_variables.module.scss';

.news {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	.bgContainer {
		position: absolute;
		z-index: -2;
		background-color: variables.$primary-color;
		display: flex;
		justify-content: center;
		width: 100%;
		height: 49vh;
	}
	.bgContainer:before {
		content: '';
		z-index: -2;
		position: absolute;
		left: 0px;
		right: 0px;
		height: 73vh;
		top: -73vh;
		background: linear-gradient(0turn, #f05801, transparent 35%),
			linear-gradient(0.01turn, #4f0fff -30%, transparent 40%);
		pointer-events: none;
	}
	.bgContainer:after {
		content: '';
		z-index: -2;
		position: absolute;
		left: 0px;
		right: 0px;
		height: 25vh;
		top: 100%;
		// background: linear-gradient(360deg, transparent 50%, variables.$primary-color 100%);
		// background: linear-gradient(180deg, #F05801 0%, transparent 50%), linear-gradient(84deg, transparent 43%, #4F0FFF 100%),linear-gradient(84deg, transparent 43%, #4F0FFF 100%);
		background: linear-gradient(180deg, #f05801 0%, transparent 100%),
			linear-gradient(0deg, transparent 0%, #4f0fff 100%);
		pointer-events: none;
	}

	.content {
		width: 90%;
		.titleContainer {
			.title {
				display: inline-block;
				padding: 0.694vw 1.389vw;
				font-family: var(--font-manrope);
				color: #ffffff;
				font-size: 1.111vw;
				border: 1px solid #ffffff;
				border-radius: 40px;
			}
		}
		.mainContent {
			.text {
				margin: 1rem 0;
				font-family: var(--font-manrope);
				font-size: 3.472vw;
				color: #ffffff;
				line-height: normal;
			}
		}
		.link {
			.text {
				margin: 1rem 0;
				font-family: var(--font-manrope);
				font-size: 22px;
				color: red;
				line-height: normal;
			}
			.readMore {
				color: #ffffff;
				background: none;
				cursor: pointer;
				border: none;
			}
		}
	}
	.carouselContainerNews {
		padding-top: 40px;
		width: 100%;
		display: flex;
		.carousel {
			width: 100%;
			overflow: hidden;
			.innerCarousel {
				display: flex;
				width: 68%;
				.itemContainer {
					min-width: 100%;
					.link {
						text-decoration: none;
						.linkNews {
							text-decoration: none;
						}
						.buttonReadMore {
							display: flex;
							align-items: center;
							.buttonImage {
								width: 1.667vw;
								height: 1.667vw;
							}
							.button {
								cursor: pointer;
								border: none;
								background: none;
								text-decoration: none;
								color: #ffffff;
								font-family: var(--font-manrope);
								font-size: 1.111vw;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
							}
						}
					}
				}
			}
		}
		.arrowSvg {
			width: 20%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			div {
				background: none;
				border: none;
				cursor: pointer;
			}
		}
	}
}
@media (max-width: 780px) {
	.news {
		.content {
			.titleContainer {
				.title {
					padding: 2.5vw 5vw;
					font-size: 1.111vw;
					border-radius: 40px;
					font-size: 4vw;
				}
			}
			.mainContent {
				.text {
					font-size: 5.5vw;
				}
			}
		}
		.carouselContainerNews {
			padding: 1vw 0;
			flex-direction: column;
			.carousel {
				.innerCarousel {
					width: 90%;
					.itemContainer {
						min-width: 100%;
						.link {
							.buttonReadMore {
								.buttonImage {
									width: 6vw;
									height: 6vw;
								}
								.button {
									font-size: 4vw;
								}
							}
						}
					}
				}
			}
			.arrowSvg {
				width: 100%;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
